body {
    background-color: brown;

}

#refresh {
    background-color: red;
}

.intro {
    font-family: Arial;
    font-size: 25px;
}



#title {
    color : rgb(78, 3, 3);
    font-family: Arial;
    font-size: 50px;
}

#eastWest {
    font-family: Verdana;
    font-size: 50px;
    color: green;
}

#northSouth {
    font-family: Verdana;
    font-size: 50px;
    color: green;
}

#geo {
 color : black;
 padding: 10px;
 font-family: Arial;
}

#date {
color :rgb(5, 5, 73);
}

#time {
    font-size: 24px;
    color: red;
}

#currentTime {
    font-size: 50px;
}